input {
  width: 500px;
  height: 50px;
}

.input1 {
  width: 500px;
}

.mainContainer {
  width: max-content;
  margin: auto;
}

.mainnote {
  font-size: xx-large;
  text-decoration: underline;
}

.title {
  font-size: x-large;
}

.description {
  font-size: x-large;
}

.button {
  font-size: larger;
  padding: 8px;
  margin: 5px 0;
}