li {
    padding: 10px;
    background: aliceblue;
    box-shadow: 0px 5px 5px #e2d4d4;
    margin: 5px 10px;
}
 .note-details{
    display: flex;
    justify-content: space-between;
}
.delete{
    padding: 5px;
}